<nav class="pagination is-centered" role="navigation" aria-label="pagination">

  <!-- Logic for First, Previous, Next, and Last Links -->
  <a class="pagination-previous" (click)="setPage(1)" [class.disabled]="pagination.currentPage === 1">
    First
  </a>
  <a class="pagination-previous" (click)="setPage(pagination.currentPage - 1)" [class.disabled]="pagination.currentPage === 1">
    Previous
  </a>
  <a class="pagination-next" (click)="setPage(pagination.currentPage + 1)" [class.disabled]="pagination.currentPage === pagination.totalPages">
    Next
  </a>
  <a class="pagination-next" (click)="setPage(pagination.totalPages)" [class.disabled]="pagination.currentPage === pagination.totalPages">
    Last
  </a>

  <!-- List of pages -->
  <ul *ngIf="pagination.pages && pagination.pages.length" class="pagination-list">
    <li *ngFor="let page of pagination.pages">
      <a class="pagination-link" [class.is-current]="pagination.currentPage === page" aria-label="Goto page 1" (click)="setPage(page)">{{ page }}</a>
    </li>
  </ul>

</nav>